In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
from sklearn.linear_model import LinearRegression

In [3]:
def z_score(data,time_line):
   
    rolling_average = data.rolling(window=time_line).mean()
    rolling_st = data.rolling(window=time_line).std()
    rolling_df = pd.DataFrame({"data":data.values,"rolling_av":rolling_average.values,"rolling_st":rolling_st.values},index=data.index)[time_line-1:]
    return (rolling_df.data-rolling_df.rolling_av)/(rolling_df.rolling_st)

이후 Z Score 계산을 위한 function 정의

In [4]:
time_line = 36
criteria_line = 0

데이터 계산 기준을 36개월로 맞추기 위해 time_line 을 36으로 설정하였고, 최종 수치 결과가 0 이상이면 매수 추천, 0 이하이면 매도 추천으로 설정하기 위하여 criteria_line은 0으로 설정

In [11]:
cycle_data = pd.read_csv('./data/markit_pmis.csv',index_col='Date',parse_dates=True)

In [12]:
cycle_data

,USD,EUR,GBP,JPY,INR,CNY,CAD,BRL,RUB,CZK,AUD,NZD,CHF,SEK,NOK
Date,,,,,,,,,,,,,,,
2007-05-31,57.2,55.0,53.5,51.4,53.4,54.1,NaN,54.3,54.4,55.8,54.7,55.4,59.9,58.8,60.54
2007-06-30,53.5,55.6,53.9,50.4,53.2,55.0,NaN,54.9,53.0,57.7,54.6,51.4,62.9,58.9,57.95
2007-07-31,53.4,54.9,54.8,49.0,52.9,53.2,NaN,54.8,53.4,59.5,56.0,54.0,62.6,58.1,55.90
2007-08-31,54.1,54.3,54.9,49.6,57.9,53.4,NaN,54.9,53.1,58.8,52.6,56.6,63.0,57.4,59.23
2007-09-30,54.9,53.2,54.9,49.8,59.3,55.0,NaN,56.4,52.2,55.8,49.0,54.2,59.4,57.6,56.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-31,63.4,62.8,60.4,53.0,55.3,50.3,56.2,56.7,47.5,62.0,60.8,60.8,71.1,64.9,63.02
2021-08-31,61.1,61.4,60.3,52.7,52.3,49.2,57.2,53.6,46.5,61.0,51.6,51.6,67.7,60.1,61.92
2021-09-30,60.7,58.6,57.1,51.5,53.7,50.0,57.0,54.4,49.8,58.0,51.2,51.2,68.1,64.6,59.45
2021-10-31,58.4,58.3,57.8,53.2,55.9,50.6,57.7,51.7,51.6,55.1,50.4,50.4,65.4,64.2,58.78
2021-11-30,58.3,58.4,58.1,54.5,57.6,49.9,57.2,49.8,51.7,57.1,54.8,54.8,62.5,63.3,63.68

In [15]:
momentum_data = pd.read_csv('./data/fx_monthly.csv',index_col='Date', parse_dates=True)

In [16]:
momentum_data

,EUR,GBP,JPY,INR,CNY,CAD,BRL,RUB,CZK,AUD,NZD,CHF,SEK,NOK
Date,,,,,,,,,,,,,,
2006-10-31,1.2762,1.9074,0.008549,0.022223,0.12692,0.8911,0.4650,0.03735,0.044920,0.7738,0.6704,0.8037,0.138442,0.1529
2006-11-30,1.3242,1.9659,0.008635,0.022344,0.12766,0.8770,0.4613,0.03802,0.047162,0.7889,0.6842,0.8348,0.146029,0.1624
2006-12-31,1.3197,1.9588,0.008399,0.022595,0.12800,0.8578,0.4676,0.03796,0.047880,0.7885,0.7039,0.8196,0.146019,0.1604
2007-01-31,1.3032,1.9655,0.008285,0.022633,0.12864,0.8497,0.4679,0.03764,0.045745,0.7769,0.6912,0.8038,0.143910,0.1602
2007-02-28,1.3229,1.9639,0.008435,0.022585,0.12913,0.8547,0.4720,0.03822,0.046622,0.7879,0.7014,0.8199,0.142960,0.1631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-31,1.1870,1.3904,0.009117,0.013438,0.15475,0.8019,0.1968,0.01371,0.046676,0.7344,0.6974,1.1045,0.116364,0.1133
2021-08-31,1.1809,1.3755,0.009091,0.013706,0.15473,0.7927,0.1929,0.01364,0.046341,0.7316,0.7045,1.0926,0.115952,0.1151
2021-09-30,1.1580,1.3474,0.008987,0.013459,0.15471,0.7885,0.1846,0.01373,0.045333,0.7227,0.6899,1.0735,0.114119,0.1143
2021-10-31,1.1558,1.3682,0.008770,0.013356,0.15633,0.8073,0.1771,0.01415,0.045398,0.7518,0.7171,1.0924,0.116404,0.1185
2021-11-30,1.1338,1.3299,0.008838,0.013311,0.15696,0.7825,0.1785,0.01338,0.044494,0.7127,0.6822,1.0888,0.110818,0.1107